/* All */
*{
    background-color: beige;
}

/* Heading */
h1 {
    color: orangered;
    font-size: 60px;
}

input{
    border: black solid 2px;
}

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
    width: 75px;
    height: 75px;
    margin: auto;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

/* Reset Button */
#reset {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
    Geneva, Tahoma, sans-serif;

    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#save {
    box-sizing: border-box;
    width: 130px;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
    Geneva, Tahoma, sans-serif;

    background-color: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    visibility: hidden;
}


/* Main Container */
#main {
    text-align: center;
}

/* Game Instruction Text */
#instruction {
    font-family: Verdana,
    Geneva, Tahoma, sans-serif;

    color: dodgerblue;
    font-size: 20px;
}